.venv
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
models
.env
.idea
*/__pycache__/
*/*/__pycache__/
call_to_GPT-2.py
outputs/*
.DS_Store
crawler_state.json
good-practices.md
docs/
