[Unit]
Description=Run News Scraper Open every 15 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
RandomizedDelaySec=1min
Unit=news-scraper-open.service
Persistent=true

[Install]
WantedBy=timers.target
